.vscode

**/Basics/*.exe
**/Basics/*.txt
**/Function_and_Recursion/*.exe
**/Function_and_Recursion/*.txt
**/Conditional/*.exe
**/Conditional/*.txt
**/Loop/*.exe
**/Loop/*.txt
**/String/*.exe
**/String/*.txt
**/Array/*.exe
**/Array/*.txt
**/Pointers/*.exe
**/Pointers/*.txt
**/Structure/*.exe
**/Structure/*.txt